@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.App {
    background-color: #882f4d;
}

body {
    font-family: 'Roboto';
}

.landing-page-header {
    font-size: 48pt;
    padding: 30px;
    font-style: bold;
}

.landing-page-text {
    text-shadow: 
        3px 3px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
    color: rgba(255, 255, 0, 0.507);
}

.landing-page-subheader {
    font-family: 'Indie Flower', cursive;
}