@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.App {
    background-color: #882f4d;
}

body {
    font-family: 'Roboto';
}

.App-header {
  background-color: #882f2d;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(77, 5, 92);
.landing-page-header {
    font-size: 48pt;
    padding: 30px;
    font-style: bold;

}

.landing-page-text {
    text-shadow: 
        3px 3px 0 #000, 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
    color: rgba(255, 255, 0, 0.507);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

image {
  border-radius: 50%;
}

.landing-page-subheader {
    font-family: 'Indie Flower', cursive;
}

